node_modules
dist
.env
.env.local
coverage
*.log
.DS_Store
*.tgz
.nyc_output
.vscode
.idea
*.swp
*.swo
.turbo
DEV_PLAN.md

packages/*/src/**/*.js
packages/*/src/**/*.js.map
packages/*/src/**/*.d.ts
packages/*/src/**/*.d.ts.map
